/* Acá va tu código */
body {
background-image: url(https://i.pinimg.com/originals/69/15/d6/6915d690d4bcfdec938548f8bd7508dd.jpg)
}
form {
	width:25%;
	border:1px solid #ccc;
	margin:20px;
	padding:20px;
}
input, textarea, button{
	margin-bottom:20px;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid#ccc;
}
input[type="number"]{
	width: 50%;
}
input[type="submit"],[type="button"]{
	margin-bottom:0%;
	background:#1668C4;
	color:#fff;
	border:none; 
}
input[type="submit"]:hover,[type="button"]:hover{
	background:#4A88F4;
	cursor: pointer;


}