/* Acá va tu código */
body {
background-image: url(https://decoracion2.com/imagenes/2016/11/10-ideas-para-adornar-cumpleanos-de-adulto-14.jpg);

}
form {
	width:25%;
	border:1px solid #ccc;
	background: rgb(202, 217, 231);
	margin:20px 2px;
	padding:20px;
	margin-left: 500px;
}
input, textarea, button{
	margin-bottom:20px;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border:1px solid#ccc;
}
input[type="number"]{
	width: 50%;
}
input[type="submit"],[type="button"]{
	margin-bottom:0%;
	background:#1668C4;
	color:#fff;
	border:none; 
}
input[type="submit"]:hover,[type="button"]:hover{
	background:#4A88F4;
	cursor: pointer;
}

h1, h2{
	color: rgb(34, 38, 88);
	font-family: Arial, sans-serif;
}
p{
	color:rgb(19, 18, 17);
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	

}

.cipher {
	margin: auto;
	padding: 40px;
}
